{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Студент{% endblock %}


{% block content %}
        <div class="col-md-12">
            <h3>{{ student.get_name_surname }}</h3>
        </div>
        <div class="col-md-12">
            <hr>
            <h5>дата рождения {{ student.date_of_birth|date:"M d, Y"  }}</h5><br><hr>
            <h5>адрес {{ student.address }}</h5><br><hr>
            <h5>почта {{ student.email }}</h5><br><hr>
            <h5>логин skype {{ student.skype }}</h5><br><hr>
            <h5>телефон {{ student.phone }}</h5><br><hr>
            курсы
            {% for course in student.courses.all %}
                <a href="{% url 'courses:detail' course.id %}"><h5>{{ course.name }}</h5><br></a>
            {% endfor %}
        </div>


{% endblock content %}