<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.url_name == "index" %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == "index" %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Курсы</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == "list_view" %}active{% endif %}">
                <a class="nav-link"
                   href="{% url 'students:list_view' %}?course_id={{ course.id }}">Студенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == "feedback" %}active{% endif %}" href="{% url 'feedback' %}">Feedback</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="row">

        {% block content %}{% endblock %}

    </div>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>