{% extends 'base.html' %}


{% load staticfiles %}


{% block title %}Учитель{% endblock %}


{% block content %}
        <div class="col-md-12">


            <h3>{{ coach.get_fool_name }}</h3>
            <hr>
            <p>дата рождения {{ coach.date_of_birth|date:"d M, Y" }}</p>
            <hr>
            <p>адрес {{ coach.address }}</p>
            <hr>
            <p>почта {{ coach.user.email }}</p>
            <hr>
            <p>логин skype {{ coach.skype }}</p>
            <hr>
            <p>телефон {{ coach.phone }}</p>
            <hr>

            <p>курсы учитель
                {% for course in coach.course_set.all %}
                    <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br/>
                    <a class="nav-link"
                       href="{% url 'students:list_view' %}?course_id={{ course.id }}">Студенты</a>                {% endfor %}
                студенты курса

            </p>
            <hr>
            <p>курсы ассистент
                {% for course in coach.coach_assistant.all %}
                    <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a><br/>
                    <a class="nav-link"
                       href="{% url 'students:list_view' %}?course_id={{ course.id }}">Студенты</a>
                {% endfor %}
                студенты курса </p>
            <hr>
        </div>

{% endblock content %}